* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  --cell-width: 100px;

  --color-gray-500: #2c292c;
  --color-gray-600: #ccc;

  --color-purple-200: #320557;
  --color-purple-300: #4f0abe;
  --color-purple-400: #5e04a8;
  --color-purple-450: #700dcc;
  --color-purple-500: #8c00ff;
  --color-purple-600: #d7bbf7;
  --color-purple-700: #e6c9fc;
  --color-purple-800: #f3e3ff;
  --color-purple-900: #f7eff7;

  --color-backdrop: #000a;

  --color-shadow: #0003;

  --header-height: 185px;
}

body {
  color: var(--color-gray-500);
  font-family: sans-serif;
  height: 100vh;
}