.won {
  background-color: var(--color-purple-200);
  color: white;
  display: flex;
  flex-direction: column;
  height: 145px;
  justify-content: space-evenly;
  margin: 0 auto 20px;
  text-align: center;
  width: 705px;
}

.won__h3 {
  font-size: 2.5rem;
}